.container-fluid {
  color: #4C6473;
}

.code-card {
  background-color: #D9D9D9;
  border-radius: 15px;
  padding: 5px;
}

.like-card, .download-card {
  padding: 0;
}

.avatar-card i {
  padding: 5px;
  border-radius: 50%;
  border: 2px solid #4C6473;
}

