.container-fluid {
  color: #C2E3E3;
}

.code-card {
  background-color: #262626;
  border-radius: 15px;
  padding: 12px;
  box-shadow: #262626 0px 1px 8px 1px;

}

.like-card, .download-card {
  padding: 0;
}

.avatar-card i {
  padding: 5px;
  border-radius: 50%;
  border: 2px solid #4C6473;
}

.single-view-label{
  color: black;
}
